<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>Dream job</display-name>

    <servlet>
        <servlet-name>ServletAuth</servlet-name>
        <servlet-class>servlet.ServletAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIndex</servlet-name>
        <servlet-class>servlet.ServletIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOffer</servlet-name>
        <servlet-class>servlet.ServletOffer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOfferEdit</servlet-name>
        <servlet-class>servlet.ServletOfferEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOfferDelete</servlet-name>
        <servlet-class>servlet.ServletOfferDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCandidate</servlet-name>
        <servlet-class>servlet.ServletCandidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCandidateEdit</servlet-name>
        <servlet-class>servlet.ServletCandidateEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCandidatePhoto</servlet-name>
        <servlet-class>servlet.ServletCandidatePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCandidateDelete</servlet-name>
        <servlet-class>servlet.ServletCandidateDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCities</servlet-name>
        <servlet-class>servlet.ServletCities</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletAuth</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIndex</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOffer</servlet-name>
        <url-pattern>/offers.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOfferEdit</servlet-name>
        <url-pattern>/offer_edit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOfferDelete</servlet-name>
        <url-pattern>/offer_delete.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCandidate</servlet-name>
        <url-pattern>/candidates.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCandidateEdit</servlet-name>
        <url-pattern>/candidate_edit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCandidatePhoto</servlet-name>
        <url-pattern>/candidate_photo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCandidateDelete</servlet-name>
        <url-pattern>/candidate_delete.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCities</servlet-name>
        <url-pattern>/cities.do</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filters.FilterAuth</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

</web-app>